@font-face {
    font-family: "Harbell";
    src: url(../fonts/Harbell_Personal_Use.ttf) format("truetype");
}

.btn-add {
	background-image: linear-gradient(to bottom, #1d7865 0%, #1d7865 100%) !important;
	position: absolute;
	right: 0%;
	width: 50px !important;
	bottom: 10%;
	border-radius: 0px !important;
	border-color: #1d7865 !important;
	color: white !important;
	font-size: 30px;
}


.btn-vote {
	width: 40px;
}
.breadcrumb {
	border-radius: 0px;
}

.card-button-panel {
	padding-top: 10px;
	position: relative;
}
.card-event {
	background-color: #fff;
	box-shadow: 3px 3px 5px rgb(95, 94, 94);
	cursor: pointer;
	margin: 6px;
	padding: 15px;
	width: 235px;
	height: 235px;

}

.card-food {
	background-color: #fff;
	box-shadow: 3px 3px 5px rgb(95, 94, 94);
	cursor: pointer;
	margin: 6px;
	padding: 15px;
	width: 235px;
	height: 310px;

}

.card-footer {
/*	bottom: 0%;
	background-color: red;
	width: 100%;
	padding: 15px;
	position: absolute;*/
	margin-top: 10px;
	text-transform:uppercase;

}

.card-footer-date {
	color: #858080;
	font-size: 12px;
}

.card-current-event {
	/*background-color: #d64608;*/
}
.card-food-event {
	padding-top: 100px;
}
.card-past-event {
	/*background-color: #a9ccc4;*/
}

.card-upcoming-event {
	/*background-color: #fff3e3;*/
}

.count-dislike {
	color: #;
	text-align: center;
}

.count-like {
	color: #;
	text-align: center;
}

.current-event {
	background-color: #d64608;
	width: 100%;
}

#current-event-name {
	color: white;
	font-size: 20px;
	margin-top: -40px;
	text-transform:uppercase;
}

#current-event-date {
	color: white;
	text-transform:uppercase;
}

.food-banner {
	background-color: #fff3e3;
}

.food-container {
	padding-bottom: 20px;
}
#food-event-name {
	color: white;
	text-transform:uppercase;
	font-size: 30px;
}

#food-event-date {
	color: white;
	text-transform:uppercase;
	font-size: 20px;
}

.header-name {
	color: #ff831e;
	font-size: 30px;
	font-family: "Harbell";
}

.header-menu {
	font-size: 11px;
	color: white !important;
}

.main-container-top {
	padding-top: 85px;
}
.main-container {
	padding-bottom: 20px;
}

.mynav {
	padding-top: 7px;
}

.mynav-active {
	background-image: linear-gradient(to bottom, #ff6400 0%, #ff6400 100%) !important;
	color: white !important;
}

.mynavbar {
	background-color: #535353;
	background-image: linear-gradient(to bottom, #535353 0%, #535353 100%)!important;
}
.img-square {
	height: 160px;
	width: 100%;
}


.panel-dislike {
	position: absolute;

}

.panel-like {
	position: absolute;
	right: 0;
	top: 10px;
}

.past-event {
	background-color: #a9ccc4;
	width: 100%;
}

.section-title {
	font-size: 100px;
	font-family: "Harbell";
	margin-bottom: -20px;
}

.current-section-title {
	font-size: 160px;
	color: #e47444;

}

.upcoming-section-title {
	color: #f2d8b6;	
}

.past-section-title {
	color: #8ab4aa;
}
.upcoming-event {
	background-color: #fff3e3;
	width: 100%;
}

.datepicker {
	z-index:1151;
}

.modal-body{
    max-height: 100%;
}