.breadcrumb {
	border-radius: 0px;
}
.card-event {
	margin: 6px;
	padding: 0px;
	width: 308px;
	height: 308px;
}

.card-footer {
	bottom: 0%;
	background-color: red;
	width: 100%;
	padding: 15px;
	position: absolute;

}

.card-current-event {
	background-color: #f5f5f5;
}

.card-past-event {
	background-color: #fff;
}

.card-upcoming-event {
	background-color: #000;
}

.current-event {
	background-color: #ffffff;
	width: 100%;
}

.main-container {
	padding-top: 80px;
	padding-bottom: 50px;
}

.past-event {
	background-color: #000;
	width: 100%;
}

.upcoming-event {
	background-color: #777;
	width: 100%;
}

.datepicker {
	z-index:1151;
}

.modal-body{
    max-height: 100%;
}