@font-face {
    font-family: "Harbell";
    src: url(../fonts/Harbell_Personal_Use.ttf) format("truetype");
}
.breadcrumb {
	border-radius: 0px;
}
.card-event {
	background-color: #fff;
	box-shadow: 3px 3px 5px rgb(95, 94, 94);
	margin: 6px;
	padding: 15px;
	width: 235px;
	height: 235px;
}

.card-footer {
/*	bottom: 0%;
	background-color: red;
	width: 100%;
	padding: 15px;
	position: absolute;*/
	margin-top: 10px;
	text-transform:uppercase;

}

.card-footer-date {
	color: #858080;
	font-size: 12px;
}

.card-current-event {
	/*background-color: #d64608;*/
}

.card-past-event {
	/*background-color: #a9ccc4;*/
}

.card-upcoming-event {
	/*background-color: #fff3e3;*/
}

.current-event {
	background-color: #d64608;
	width: 100%;
}

#current-event-name {
	color: white;
	font-size: 20px;
	margin-top: -40px;
	text-transform:uppercase;
}

#current-event-date {
	color: white;
	text-transform:uppercase;
}

.header-name {
	color: #ff831e;
	font-size: 30px;
	font-family: "Harbell";
}

.header-menu {
	font-size: 11px;
}

.main-container-top {
	padding-top: 85px;
}
.main-container {
	padding-bottom: 20px;
}

.mynav {
	padding-top: 7px;
}

.mynav-active {
	background-image: linear-gradient(to bottom, #1d7865 0%, #1d7865 100%) !important;
	color: white !important;
}

.img-square {
	height: 160px;
	width: 100%;
}

.past-event {
	background-color: #a9ccc4;
	width: 100%;
}

.section-title {
	font-size: 100px;
	font-family: "Harbell";
	margin-bottom: -20px;
}

.current-section-title {
	font-size: 160px;
	color: #e47444;

}

.upcoming-section-title {
	color: #f2d8b6;	
}

.past-section-title {
	color: #8ab4aa;
}
.upcoming-event {
	background-color: #fff3e3;
	width: 100%;
}

.datepicker {
	z-index:1151;
}

.modal-header {
	background-color: #535353;
	color: #FFF;
}

.modal-footer {

}

.modal-footer .btn-primary {
	background-color: #1d7865;
	border-color: #1d7865;
	color: #FFF;
}

.modal span {
	color: #fff;
}

